<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>842498702263-v2i970gi5a4eq9enrbgqec2pdi64fss7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.842498702263-v2i970gi5a4eq9enrbgqec2pdi64fss7</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>842498702263-3bfj9bq3rfmjq2hqe615524j6k5977be.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCiysgoq1MQ_kCE5ONGioBplyyD3jxJOKA</string>
	<key>GCM_SENDER_ID</key>
	<string>842498702263</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gomadango.kanpai</string>
	<key>PROJECT_ID</key>
	<string>kanpai-5128e</string>
	<key>STORAGE_BUCKET</key>
	<string>kanpai-5128e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:842498702263:ios:9db46a6be6d6a3a5ad4632</string>
</dict>
</plist>